body{
	line-height:1;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#333;
	font-size:68.5%;
	line-height:18px;
	}

/**DATATABLE**/
.paging_two_button .ui-button {
	float: left;
	cursor: pointer;
	* cursor: hand;
}
.paging_full_numbers .ui-button {
	padding: 2px 6px;
	margin: 0;
	cursor: pointer;
	* cursor: hand;
}
.dataTables_paginate .ui-button {margin-right: -0.1em !important;}
.paging_full_numbers {width: 400px !important;}
.dataTables_wrapper .ui-toolbar {padding: 5px;}
.dataTables_paginate {width: auto;}
.dataTables_info {padding-top: 3px;}
table.display thead th {
	padding: 3px 0px 3px 10px;
	cursor: pointer;
	* cursor: hand;
}
div.dataTables_wrapper .ui-widget-header {font-weight: normal;}
/**Sort arrow icon positioning**/
table.display thead th div.DataTables_sort_wrapper {
	position: relative;
	padding-right: 20px;
	padding-right: 20px;
}
table.display thead th div.DataTables_sort_wrapper span {
	position: absolute;
	top: 50%;
	margin-top: -8px;
	right: 0;
}

/**DataTables features**/
/*cette classe permet d'envelopper un tableau datatable ayant une colonne gauche pour avoir ce tableau positionné en haut*/
.div_dataTables_wrapper { width: 100%; float:left; margin: 10px 0 20px 0;}
.div_dataTables_wrapper select {
  border: 1px solid #aaa; 
  background: #F1F1F1; 
  font-weight: bold;
  font-size: 11px; 
  color: #333; 
  width:70px;
  padding:3px;border-radius: 12px 0px 0px 12px;
}
.div_dataTables_wrapper input {
  border: 1px solid #aaa; 
  background: #F1F1F1; 
  font-weight: bold;
  font-size: 11px; 
  color: #333;
  padding:2px; 
  -moz-border-radius:6px; -webkit-border-radius:6px; border-radius:6px;
}
.dataTables_wrapper {
	/*position: relative;
	min-height: 302px;
	_height: 302px;
	margin-top:10px;*/
	clear: both;
}
.dataTables_length { /*liste déroulante*/
	width: 40%;
	float: left;
}
.dataTables_filter { /*zone de recherche*/
	width: 50%;
	float: right;
	text-align: right;
}
.dataTables_info { /*affichage nombre d'enregistrement*/
	width: 50%;
	float: left;
}
.dataTables_paginate {
	float: right;
	text-align: right;
}
/**DataTables display**/
table.display {
	margin: 0 auto;
	width: 100%;
	border-collapse: collapse;
}

table.display th {
	font-weight: bold;
	text-align:left;
}
table.display tfoot th {
	padding: 3px 0px 3px 10px;
	font-weight: bold;
}
table.display tr.heading2 td {border-bottom: 1px solid #aaa;}
table.display td {padding: 3px 10px;}
/**DataTables ligne couleur alternée**/
/*tr.odd {background-color: #EEE;}*/
/*tr.even {background-color: white;}*/
table.display tr.even.row_selected td {background-color: #B0BED9;}
table.display tr.odd.row_selected td {background-color: #9FAFD1;}
/**ligne tableau blanche**/
 #menuTable tr.even:hover {
	background-color: #fef1ec;
	color: #cd0a0a;
	font-weight: 200;
	cursor: pointer;
}
/**ligne tableau grise**/
#menuTable tr.odd:hover {
	background-color: #fef1ec;
	color: #cd0a0a;
	font-weight: 200;
	cursor: pointer;
}
.selected {
    background-color: brown;
    color: #FFF;
}